In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('CarPrice.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
[df[col].unique() for col in df.columns]

[array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
         27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
         40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
         53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
         66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
         79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
         92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
        105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
        118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
        131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
        144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
        157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
        170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
        183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205], dtype=int64),
 array([ 3,  1,  2,  0, -1, -2], dtype=int64),
 array(['alfa-romero giulia', 'alfa-romero stelvio',
        'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
        'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
        'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
        'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
        'dodge rampage', 'dodge challenger se', 'dodge d200',
        'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
        'dodge coronet custom', 'dodge dart custom',
        'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
        'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
        'honda accord', 'honda civic 1300', 'honda prelude',
        'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
        'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
        'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
        'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
        'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
        'buick electra 225 custom', 'buick century luxus (sw)',
        'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
        'buick skylark', 'buick century special',
        'buick regal sport coupe (turbo)', 'mercury cougar',
        'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
        'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
        'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
        'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
        'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
        'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
        'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
        'peugeot 505s turbo diesel', 'plymouth fury iii',
        'plymouth cricket', 'plymouth satellite custom (sw)',
        'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
        'porsche macan', 'porcshce panamera', 'porsche cayenne',
        'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
        'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
        'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
        'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
        'toyota corolla 1200', 'toyota corona hardtop',
        'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
        'toyota corolla', 'toyota corolla liftback',
        'toyota celica gt liftback', 'toyota corolla tercel',
        'toyota corona liftback', 'toyota starlet', 'toyota tercel',
        'toyota cressida', 'toyota celica gt', 'toyouta tercel',
        'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
        'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
        'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
        'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
        'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
        'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object),
 array(['gas', 'diesel'], dtype=object),
 array(['std', 'turbo'], dtype=object),
 array(['two', 'four'], dtype=object),
 array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
       dtype=object),
 array(['rwd', 'fwd', '4wd'], dtype=object),
 array(['front', 'rear'], dtype=object),
 array([ 88.6,  94.5,  99.8,  99.4, 105.8,  99.5, 101.2, 103.5, 110. ,
         88.4,  93.7, 103.3,  95.9,  86.6,  96.5,  94.3,  96. , 113. ,
        102. ,  93.1,  95.3,  98.8, 104.9, 106.7, 115.6,  96.6, 120.9,
        112. , 102.7,  93. ,  96.3,  95.1,  97.2, 100.4,  91.3,  99.2,
        107.9, 114.2, 108. ,  89.5,  98.4,  96.1,  99.1,  93.3,  97. ,
         96.9,  95.7, 102.4, 102.9, 104.5,  97.3, 104.3, 109.1]),
 array([168.8, 171.2, 176.6, 177.3, 192.7, 178.2, 176.8, 189. , 193.8,
        197. , 141.1, 155.9, 158.8, 157.3, 174.6, 173.2, 144.6, 150. ,
        163.4, 157.1, 167.5, 175.4, 169.1, 170.7, 172.6, 199.6, 191.7,
        159.1, 166.8, 169. , 177.8, 175. , 190.9, 187.5, 202.6, 180.3,
        208.1, 199.2, 178.4, 173. , 172.4, 165.3, 170.2, 165.6, 162.4,
        173.4, 181.7, 184.6, 178.5, 186.7, 198.9, 167.3, 168.9, 175.7,
        181.5, 186.6, 156.9, 157.9, 172. , 173.5, 173.6, 158.7, 169.7,
        166.3, 168.7, 176.2, 175.6, 183.5, 187.8, 171.7, 159.3, 165.7,
        180.2, 183.1, 188.8]),
 array([64.1, 65.5, 66.2, 66.4, 66.3, 71.4, 67.9, 64.8, 66.9, 70.9, 60.3,
        63.6, 63.8, 64.6, 63.9, 64. , 65.2, 62.5, 66. , 61.8, 69.6, 70.6,
        64.2, 65.7, 66.5, 66.1, 70.3, 71.7, 70.5, 72. , 68. , 64.4, 65.4,
        68.4, 68.3, 65. , 72.3, 66.6, 63.4, 65.6, 67.7, 67.2, 68.9, 68.8]),
 array([48.8, 52.4, 54.3, 53.1, 55.7, 55.9, 52. , 53.7, 56.3, 53.2, 50.8,
        50.6, 59.8, 50.2, 52.6, 54.5, 58.3, 53.3, 54.1, 51. , 53.5, 51.4,
        52.8, 47.8, 49.6, 55.5, 54.4, 56.5, 58.7, 54.9, 56.7, 55.4, 54.8,
        49.4, 51.6, 54.7, 55.1, 56.1, 49.7, 56. , 50.5, 55.2, 52.5, 53. ,
        59.1, 53.9, 55.6, 56.2, 57.5]),
 array([2548, 2823, 2337, 2824, 2507, 2844, 2954, 3086, 3053, 2395, 2710,
        2765, 3055, 3230, 3380, 3505, 1488, 1874, 1909, 1876, 2128, 1967,
        1989, 2191, 2535, 2811, 1713, 1819, 1837, 1940, 1956, 2010, 2024,
        2236, 2289, 2304, 2372, 2465, 2293, 2734, 4066, 3950, 1890, 1900,
        1905, 1945, 1950, 2380, 2385, 2500, 2410, 2443, 2425, 2670, 2700,
        3515, 3750, 3495, 3770, 3740, 3685, 3900, 3715, 2910, 1918, 1944,
        2004, 2145, 2370, 2328, 2833, 2921, 2926, 2365, 2405, 2403, 1889,
        2017, 1938, 1951, 2028, 1971, 2037, 2008, 2324, 2302, 3095, 3296,
        3060, 3071, 3139, 3020, 3197, 3430, 3075, 3252, 3285, 3485, 3130,
        2818, 2778, 2756, 2800, 3366, 2579, 2460, 2658, 2695, 2707, 2758,
        2808, 2847, 2050, 2120, 2240, 2190, 2340, 2510, 2290, 2455, 2420,
        2650, 1985, 2040, 2015, 2280, 3110, 2081, 2109, 2275, 2094, 2122,
        2140, 2169, 2204, 2265, 2300, 2540, 2536, 2551, 2679, 2714, 2975,
        2326, 2480, 2414, 2458, 2976, 3016, 3131, 3151, 2261, 2209, 2264,
        2212, 2319, 2254, 2221, 2661, 2563, 2912, 3034, 2935, 3042, 3045,
        3157, 2952, 3049, 3012, 3217, 3062], dtype=int64),
 array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object),
 array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
       dtype=object),
 array([130, 152, 109, 136, 131, 108, 164, 209,  61,  90,  98, 122, 156,
         92,  79, 110, 111, 119, 258, 326,  91,  70,  80, 140, 134, 183,
        234, 308, 304,  97, 103, 120, 181, 151, 194, 203, 132, 121, 146,
        171, 161, 141, 173, 145], dtype=int64),
 array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
       dtype=object),
 array([3.47, 2.68, 3.19, 3.13, 3.5 , 3.31, 3.62, 2.91, 3.03, 2.97, 3.34,
        3.6 , 2.92, 3.15, 3.43, 3.63, 3.54, 3.08, 3.33, 3.39, 3.76, 3.58,
        3.46, 3.8 , 3.78, 3.17, 3.35, 3.59, 2.99, 3.7 , 3.61, 3.94, 3.74,
        2.54, 3.05, 3.27, 3.24, 3.01]),
 array([2.68 , 3.47 , 3.4  , 2.8  , 3.19 , 3.39 , 3.03 , 3.11 , 3.23 ,
        3.46 , 3.9  , 3.41 , 3.07 , 3.58 , 4.17 , 2.76 , 3.15 , 3.255,
        3.16 , 3.64 , 3.1  , 3.35 , 3.12 , 3.86 , 3.29 , 3.27 , 3.52 ,
        2.19 , 3.21 , 2.9  , 2.07 , 2.36 , 2.64 , 3.08 , 3.5  , 3.54 ,
        2.87 ]),
 array([ 9.  , 10.  ,  8.  ,  8.5 ,  8.3 ,  7.  ,  8.8 ,  9.5 ,  9.6 ,
         9.41,  9.4 ,  7.6 ,  9.2 , 10.1 ,  9.1 ,  8.1 , 11.5 ,  8.6 ,
        22.7 , 22.  , 21.5 ,  7.5 , 21.9 ,  7.8 ,  8.4 , 21.  ,  8.7 ,
         9.31,  9.3 ,  7.7 , 22.5 , 23.  ]),
 array([111, 154, 102, 115, 110, 140, 160, 101, 121, 182,  48,  70,  68,
         88, 145,  58,  76,  60,  86, 100,  78,  90, 176, 262, 135,  84,
         64, 120,  72, 123, 155, 184, 175, 116,  69,  55,  97, 152, 200,
         95, 142, 143, 207, 288,  73,  82,  94,  62,  56, 112,  92, 161,
        156,  52,  85, 114, 162, 134, 106], dtype=int64),
 array([5000, 5500, 5800, 4250, 5400, 5100, 4800, 6000, 4750, 4650, 4200,
        4350, 4500, 5200, 4150, 5600, 5900, 5750, 5250, 4900, 4400, 6600,
        5300], dtype=int64),
 array([21, 19, 24, 18, 17, 16, 23, 20, 15, 47, 38, 37, 31, 49, 30, 27, 25,
        13, 26, 36, 22, 14, 45, 28, 32, 35, 34, 29, 33], dtype=int64),
 array([27, 26, 30, 22, 25, 20, 29, 28, 53, 43, 41, 38, 24, 54, 42, 34, 33,
        31, 19, 17, 23, 32, 39, 18, 16, 37, 50, 36, 47, 46], dtype=int64),
 array([13495.   , 16500.   , 13950.   , 17450.   , 15250.   , 17710.   ,
        18920.   , 23875.   , 17859.167, 16430.   , 16925.   , 20970.   ,
        21105.   , 24565.   , 30760.   , 41315.   , 36880.   ,  5151.   ,
         6295.   ,  6575.   ,  5572.   ,  6377.   ,  7957.   ,  6229.   ,
         6692.   ,  7609.   ,  8558.   ,  8921.   , 12964.   ,  6479.   ,
         6855.   ,  5399.   ,  6529.   ,  7129.   ,  7295.   ,  7895.   ,
         9095.   ,  8845.   , 10295.   , 12945.   , 10345.   ,  6785.   ,
         8916.5  , 11048.   , 32250.   , 35550.   , 36000.   ,  5195.   ,
         6095.   ,  6795.   ,  6695.   ,  7395.   , 10945.   , 11845.   ,
        13645.   , 15645.   ,  8495.   , 10595.   , 10245.   , 10795.   ,
        11245.   , 18280.   , 18344.   , 25552.   , 28248.   , 28176.   ,
        31600.   , 34184.   , 35056.   , 40960.   , 45400.   , 16503.   ,
         5389.   ,  6189.   ,  6669.   ,  7689.   ,  9959.   ,  8499.   ,
        12629.   , 14869.   , 14489.   ,  6989.   ,  8189.   ,  9279.   ,
         5499.   ,  7099.   ,  6649.   ,  6849.   ,  7349.   ,  7299.   ,
         7799.   ,  7499.   ,  7999.   ,  8249.   ,  8949.   ,  9549.   ,
        13499.   , 14399.   , 17199.   , 19699.   , 18399.   , 11900.   ,
        13200.   , 12440.   , 13860.   , 15580.   , 16900.   , 16695.   ,
        17075.   , 16630.   , 17950.   , 18150.   , 12764.   , 22018.   ,
        32528.   , 34028.   , 37028.   , 31400.5  ,  9295.   ,  9895.   ,
        11850.   , 12170.   , 15040.   , 15510.   , 18620.   ,  5118.   ,
         7053.   ,  7603.   ,  7126.   ,  7775.   ,  9960.   ,  9233.   ,
        11259.   ,  7463.   , 10198.   ,  8013.   , 11694.   ,  5348.   ,
         6338.   ,  6488.   ,  6918.   ,  7898.   ,  8778.   ,  6938.   ,
         7198.   ,  7788.   ,  7738.   ,  8358.   ,  9258.   ,  8058.   ,
         8238.   ,  9298.   ,  9538.   ,  8449.   ,  9639.   ,  9989.   ,
        11199.   , 11549.   , 17669.   ,  8948.   , 10698.   ,  9988.   ,
        10898.   , 11248.   , 16558.   , 15998.   , 15690.   , 15750.   ,
         7975.   ,  7995.   ,  8195.   ,  9495.   ,  9995.   , 11595.   ,
         9980.   , 13295.   , 13845.   , 12290.   , 12940.   , 13415.   ,
        15985.   , 16515.   , 18420.   , 18950.   , 16845.   , 19045.   ,
        21485.   , 22470.   , 22625.   ])]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [9]:
list = ['fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype',
       'cylindernumber', 'fuelsystem']
for col in list:
    enc = LabelEncoder()
    df[col] = df[col].astype('category')
    encoded = enc.fit_transform(df[[col]])
    df[col] = encoded

C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\miniconda3\envs\ML_Internship\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
df.info()
df['price'] = df['price'].astype('int')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    int32
 4   aspiration        205 non-null    int32
 5   doornumber        205 non-null    int32
 6   carbody           205 non-null    int32
 7   drivewheel        205 non-null    int32
 8   enginelocation    205 non-null    int32
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    int32
 15  cylindernumber    205 non-null    int32
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    int32
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int32(9), int64(8), object(1)
memory usage: 34.6+ KB

In [11]:
[df['fuelsystem'].unique() for col in df.columns]

[array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6]),
 array([5, 1, 4, 0, 7, 2, 3, 6])]

In [20]:
x = df.drop(['car_ID','CarName','symboling','price','wheelbase','carlength','carwidth','carheight','curbweight','enginesize','boreratio','stroke'],axis=1)
pd.set_option('display.max_columns', None)
x.head()
x.columns
x[x['enginelocation']!=0]
x
#fueltype gas=1,diesel=0
#aspiration standard=1,turbo=0
#doornumber two=1, four=0
#carbody convertible=0,hardtop=1,hatchback=2,sedan=3,wagon=4
#drivewheel rearwheeldrive=2,front wheel drive=1, 4 wheel drive=0
#enginelocation front=0,rear=1
#enginetype dual overhead camshaft(dohc)=0, overhead camshaft valve(ohcv)=5, overhead camshaft(ohc)=3, l=2, rotor=6, ohcf=4, dohcv=1
#cylindernumber 4cylinders=2,6cylinder=3,5cylinder=1,3c=4,12c=5,2c=6,8c=0
#fuelsystem mpfi=5,2bbl=1,mfi=4,1bbl=0,spfi=7,4bbl=2,id=3,spdi=6

print(x['highwaympg'].min())
print(x['highwaympg'].max())
print(x)

16
54
     fueltype  aspiration  doornumber  carbody  drivewheel  enginelocation  \
0           1           0           1        0           2               0
1           1           0           1        0           2               0
2           1           0           1        2           2               0
3           1           0           0        3           1               0
4           1           0           0        3           0               0
..        ...         ...         ...      ...         ...             ...
200         1           0           0        3           2               0
201         1           1           0        3           2               0
202         1           0           0        3           2               0
203         0           1           0        3           2               0
204         1           1           0        3           2               0

     enginetype  cylindernumber  fuelsystem  compressionratio  horsepower  \
0             0               2           5               9.0         111
1             0               2           5               9.0         111
2             5               3           5               9.0         154
3             3               2           5              10.0         102
4             3               1           5               8.0         115
..          ...             ...         ...               ...         ...
200           3               2           5               9.5         114
201           3               2           5               8.7         160
202           5               3           5               8.8         134
203           3               3           3              23.0         106
204           3               2           5               9.5         114

     peakrpm  citympg  highwaympg
0       5000       21          27
1       5000       21          27
2       5000       19          26
3       5500       24          30
4       5500       18          22
..       ...      ...         ...
200     5400       23          28
201     5300       19          25
202     5500       18          23
203     4800       26          27
204     5400       19          25

[205 rows x 14 columns]

In [33]:
y = df[['price']]
y.head()

   price
0  13495
1  16500
2  16500
3  13950
4  17450

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=101)
x_train.head()

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,compressionratio,horsepower,peakrpm,citympg,highwaympg
154,1,0,0,4,0,0,3,2,1,9.0,62,4800,27,32
74,1,0,1,1,2,0,5,0,5,8.0,184,4500,14,16
179,1,0,1,2,2,0,0,3,5,9.3,161,5200,19,24
118,1,0,1,2,1,0,3,2,1,9.4,68,5500,37,41
16,1,0,1,3,2,0,3,3,5,8.0,182,5400,16,22

In [35]:
#from sklearn.tree import DecisionTreeClassifier
#model = DecisionTreeClassifier()
#model.fit(x_train,y_train)

In [36]:
#predictions = model.predict(x_test)
#predictions
#X=df[['fueltype', 'aspiration',
#       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
#       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
#       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
#       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg']]
#y=df[['price']]

#X_train,X_Test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [37]:
#from sklearn.metrics import r2_score
#r2_score(y_test,predictions)
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

predictions=model.predict(x_test)
#print(predictions)

y_pred = model.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_true=y_test, y_pred=y_pred))

0.6908180332907526

In [38]:
#from sklearn.metrics import accuracy_score
#accuracy_score(y_test,predictions)

In [40]:
import joblib
joblib.dump(model,'car-price-predictor')

['car-price-predictor']